<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.platform.mapper.ChatMapper">
	<!-- 채팅 메세지 저장 -->
	<insert id="insertChattingMsg" parameterType="goodee.gdj58.platform.vo.Chatting">
		INSERT INTO chatting (
			chatting_room_no
			, from_id
			, chatting_memo
			, createdate
		) VALUES (
			#{chattingRoomNo}
			, #{fromId}
			, #{chattingMemo}
			, NOW()
		)
	</insert>
	
	<!-- 채팅 메시지 리스트 -->
	<select id="selectChattingList" parameterType="int" resultType="java.util.Map">
		SELECT
			chatting_room_no chattingRoomNo
			, chatting_no chattingNo
			, chatting_memo chattingMemo
			, DATE_FORMAT(createdate,'%Y-%m-%d %H:%i') createdate
			, from_id fromId
		FROM chatting
		WHERE chatting_room_no = #{chattingRoomNo}
	</select>
	
	<!-- 채팅방 생성하기 -->
	<insert id="insertChattingRoom">
		INSERT INTO
			chatting_room (
			createdate
			, updatedate
		) VALUES (
			NOW()
			, NOW()
		)
	</insert>
	
	<!-- 채팅방 리스트 -->
	<select id="selectChattingRoomList" resultType="java.util.Map">
		SELECT c.chatting_room_no chattingRoomNo
			, c.chatting_memo chattingMemo
			, c.from_id fromId
			, cr.updatedate updatedate
		FROM chatting c
		INNER JOIN chatting_room cr ON cr.chatting_room_no = c.chatting_room_no
		WHERE (c.chatting_room_no, c.createdate)
		IN(
			SELECT chatting_room_no, MAX(createdate) createdate
			FROM chatting
			GROUP BY chatting_room_no
		)
			ORDER BY
				c.chatting_room_no desc
	</select>
</mapper>