<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.platform.mapper.CompanyMapper">

	<!-- 예약기업 조회 -->
	<select id="selectBookingCompanyList" 
		resultType="java.util.Map">
			
		SELECT 
			booking_company.booking_company_id companyId
			, booking_company.booking_company_name companyName
			, booking_company.booking_company_ceo companyCeo
			, booking_company.booking_company_phone companyPhone
			, total_id.total_id_active active
			, total_id.createdate createdate
		FROM 
			booking_company
			INNER JOIN total_id
			ON booking_company.booking_company_id = total_id.id
		ORDER BY total_id.createdate
	</select>
	<!-- 예약기업 상세(수정 필요) -->
	<select id="selectBookingCompanyOne" 
		resultType="java.util.Map"
		parameterType="String">
		
		SELECT
			booking_company.booking_company_id companyId
			, booking_company.booking_company_name companyName
			, booking_company.booking_company_ceo companyCeo
			, booking_company.booking_company_address companyAddress
			, booking_company.booking_company_phone companyPhone
			, booking_company.booking_company_email companyEmail
			, booking_company.booking_company_bank companyBank
			, booking_company.booking_company_account companyAccount
			, booking_company.booking_company_number companyNumber
			, booking_company.booking_company_info_agree companyAgree
			, booking_company_detail.booking_company_type_content companyTypeContent
			, booking_company_detail.booking_company_opentime companyOpenTime
			, booking_company_detail.booking_company_closetime companyCloseTime
			, booking_company_detail.booking_company_addition_service companyAddtionService
			, total_id.total_id_active active
			, total_id.createdate createdate
			, (SELECT
					SUM(booking_total_price)
				FROM
					booking
					INNER JOIN booking_company
					ON booking.booking_company_id = booking_company.booking_company_id
				WHERE 
					booking_company.booking_company_name = #{companyName}
					AND booking.booking_state = '방문완료') totalPrice
		FROM
			booking_company
			INNER JOIN booking_company_detail
			ON booking_company.booking_company_id = booking_company_detail.booking_company_id
			INNER JOIN total_id
			ON total_id.id = booking_company.booking_company_id
		WHERE 
			booking_company.booking_company_name = #{companyName}
	
	</select>
	<!-- 예약기업 수(페이징용)(수정 필요) -->
	<select id="cntBookingCompanyList"
		resultType="int"
		parameterType="java.lang.String">
		
		SELECT COUNT(*) count
		FROM employee
		<where>
			<if test="searchWord != null || searchWord !=''">
				emp_name like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
	</select>
	
	<!-- 쇼핑기업 조회 -->
	<select id="selectShoppingCompanyList" 
		resultType="goodee.gdj58.platform.vo.ShoppingCompany">
		
		SELECT 
			shopping_company.company_id companyId
			, shopping_company.company_name companyName
			, shopping_company.company_ceo companyCeo
			, shopping_company.company_phone companyPhone
			, total_id.total_id_active active
			, total_id.createdate createdate
		FROM 
			shopping_company
			INNER JOIN total_id 
			ON shopping_company.company_id = total_id.id
		ORDER BY total_id.createdate
	</select>
	<!-- 쇼핑기업 상세(수정 필요) -->
	<select id="selectShoppingCompanyOne" 
		resultType="goodee.gdj58.platform.vo.ShoppingCompany"
		parameterType="java.util.Map">
		
		SELECT
			emp_no empNo<!-- rs.getInt("emp_no"),  new Employee().setEmpNo()-->
			, emp_id empId
			, emp_name empName
		FROM employee
		<where>
			<if test="searchWord != null || searchWord !=''">
				emp_name like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		ORDER BY emp_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<!-- 쇼핑기업 수(페이징용)(수정 필요) -->
	<select id="cntShoppingCompanyList"
		resultType="int"
		parameterType="java.lang.String">
		
		SELECT COUNT(*) count
		FROM employee
		<where>
			<if test="searchWord != null || searchWord !=''">
				emp_name like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
	</select>
</mapper>