<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.platform.mapper.CompanyMapper">
	
	
	<!-- 고객 랭크 조회 --> 
	<select id="selectCustomerRank" 
		resultType="String"
		parameterType="String">
		
		SELECT
			customer.customer_rank customerRank
		
		FROM
			customer
			
		WHERE 
			customer_id = #{customerId} 
	
	</select>
	
	
	<!-- 쇼핑몰 주문서당 포인트 사용내역 조회 --> 
	<select id="selectShoppingOrderTotalPoint" 
		resultType="int"
		parameterType="int">
		
		SELECT
			SUM(goods_order_use_point) goodsOrderUsePoint
		
		FROM
			shopping_goods_order
			
		WHERE 
			order_sheet_no = #{orderSheetNo} 
			AND NOT goods_order_state IN ('취소','환불신청','환불완료')
	
	</select>
	
	<!-- 기업 상태 변경 -->
	<select id="updateCompanyActive"
		parameterType="java.lang.String">
				
		UPDATE total_id 
		SET total_id_active = #{active}, total_id_deactive_memo = #{deactiveMemo}
		WHERE id = #{companyId};
	</select>
	
	<!-- 신규등록 쇼핑몰 조회 -->
	<select id="selectNewShoppingCompanyList"
		resultType="java.util.Map"
		parameterType="String">
		
		SELECT
			total_id.id companyId
			, shopping_company.company_name companyName
			, shopping_company.company_ceo companyCeo
			, shopping_company.company_phone companyPhone
			, total_id.total_id_active active
			, total_id.createdate createdate
		FROM
			total_id
			INNER JOIN shopping_company
			ON total_id.id = shopping_company.company_id
		WHERE
			total_id.total_id_active = '비활성화' AND total_id.total_id_deactive_memo = '신규'
	</select>
	
	<!-- 신규등록 예약 조회 -->
	<select id="selectNewBookingCompanyList"
		resultType="java.util.Map"
		parameterType="String">
		
		SELECT
			total_id.id companyId
			, booking_company.booking_company_name companyName
			, booking_company.booking_company_ceo companyCeo
			, booking_company.booking_company_phone companyPhone
			, total_id.total_id_active active
			, total_id.createdate createdate
		FROM
			total_id
			INNER JOIN booking_company
			ON total_id.id = booking_company.booking_company_id
		WHERE
			total_id.total_id_active = '비활성화' AND total_id.total_id_deactive_memo = '신규'	
	</select>
	
	<!-- 쇼핑몰 주문 조회 --> 
	<select id="selectShoppingOrderList" 
		resultType="java.util.Map"
		parameterType="String">
		
		SELECT
			shopping_company.company_id companyId
			, shopping_company.company_id companyName
			, shopping_company.company_ceo companyCeo
			
			, shopping_order_sheet.order_sheet_no orderSheetNo
			, shopping_order_sheet.customer_id customerId
			, shopping_order_sheet.order_sheet_state orderSheetState
			, shopping_order_sheet.order_sheet_waybill orderSheetWaybill
			, shopping_order_sheet.order_sheet_price orderSheetPrice
			, shopping_order_sheet.createdate
			
			, shopping_goods.goods_name goodsName
		
		FROM
			shopping_company
			INNER JOIN shopping_order_sheet
			ON shopping_company.company_id = shopping_order_sheet.company_id
			
			INNER JOIN shopping_goods
			ON shopping_company.company_id = shopping_goods.company_id
			
		WHERE 
			shopping_company.company_name = #{companyName}
			ORDER BY createdate DESC;
	
	</select>
	
	<!-- 예약 주문 조회 --> 
	<select id="selectBookingOrderList" 
		resultType="java.util.Map"
		parameterType="String">
		
		SELECT
			booking_company.booking_company_id companyId
			, booking_company.booking_company_name companyName
			, booking_company.booking_company_ceo companyCeo
			
			, booking.booking_no bookingNo
			, booking.customer_id customerId
			, booking.booking_date bookingDate
			, booking.booking_request_date bookingRequestDate
			, booking.booking_price bookingPrice
			, booking.booking_use_point bookingUsePoint
			, booking.booking_rank_discount bookingRankDiscount
			, booking.booking_total_price bookingTotalPrice
			, booking.booking_state bookingState
			, booking.booking_people bookingPeople
			
			, booking_cancel.cancel_memo cancelMemo
			, booking_cancel.cancel_subject cancelSubject
			
			, booking_product.booking_product_name bookingProductName
			, booking_product_option.booking_product_no bookingProductOptionNo
			, booking_product_option.booking_product_option_memo bookingProductOptionMemo
			, booking_product_option.booking_product_option_price bookingProductOptionPrice
			 
		FROM
			booking_company
			INNER JOIN booking
			ON booking_company.booking_company_id = booking.booking_company_id
			INNER JOIN booking_product
			ON booking_company.booking_company_id = booking_product.booking_company_id
			INNER JOIN booking_cancel
			ON booking.booking_no = booking_cancel.booking_no
			INNER JOIN booking_product_option
			ON booking_product.booking_product_no = booking_product_option.booking_product_no
			
		WHERE 
			booking_company.booking_company_name = #{companyName}
			ORDER BY bookingRequestDate DESC;
	
	</select>
	
	
	<!-- 쇼핑몰 판매 상품 조회 --> 
	<select id="selectShoppingGoodsList" 
		resultType="java.util.Map"
		parameterType="String">
		
		SELECT
			shopping_company.company_id companyId
			, shopping_company.company_id companyName
			, shopping_company.company_ceo companyCeo
			, shopping_goods.goods_no goodsNo
			, shopping_goods.type_no typeNo
			, shopping_goods.goods_name goodsName
			, shopping_goods.goods_price goodsPrice
			, shopping_goods.goods_active goodsActive
			, shopping_goods.goods_level goodsLevel
			, shopping_goods.updatedate updatedate
			, shopping_goods.createdate createdate
			, shopping_goods_option.goods_option_content goodsOptionContent
			, shopping_goods_option.goods_option_quantity goodsOptionQuantity
			, shopping_type.type_content typeContent
			, shopping_goods_img.goods_img_no goodsImgNo
			, shopping_goods_img.goods_img_origin_name goodsImgSaveName
			, shopping_goods_img.goods_img_origin_name goodsImgOriginName
			, shopping_goods_img.goods_img_level goodsImgLevel
			, shopping_goods_img.createdate imgCreatedate
		
		FROM
			shopping_company
			INNER JOIN shopping_goods
			ON shopping_company.company_id = shopping_goods.company_id
			
			INNER JOIN shopping_goods_option
			ON shopping_goods.goods_no = shopping_goods_option.goods_no
			
			INNER JOIN shopping_type
			ON shopping_goods.type_no = shopping_type.type_no
			
			INNER JOIN shopping_goods_img
			ON shopping_goods.goods_no = shopping_goods_img.goods_no
			
		WHERE 
			shopping_company.company_name = #{companyName}
			ORDER BY createdate DESC;
	
	</select>
	
	<!-- 예약 판매 상품 조회 --> 
	<select id="selectBookingProductList" 
		resultType="java.util.Map"
		parameterType="String">
		
		SELECT
			booking_company.booking_company_id companyId
			, booking_company.booking_company_name companyName
			, booking_company.booking_company_ceo companyCeo
			, booking_product.booking_product_no bookingProductNo
			, booking_product.booking_product_name bookingProductName
			, booking_product.booking_product_price bookingProductPrice
			, booking_product.booking_product_open bookingProductOpen
			, booking_product.booking_product_max_people bookingProductMaxPeople
			, booking_product.booking_product_min_people bookingProductMinPeople
			, booking_product.createdate createdate
			, booking_product_img.booking_product_img_no bookingProductImgNo
			, booking_product_img.booking_product_img_save_name bookingProductImgSaveName
			, booking_product_img.booking_product_img_origin_name bookingProductImgOriginName
		
		FROM
			booking_company
			INNER JOIN booking_product
			ON booking_company.booking_company_id = booking_product.booking_company_id
			INNER JOIN booking_product_img
			ON booking_product.booking_product_no = booking_product_img.booking_product_no
		WHERE 
			booking_company.booking_company_name = #{companyName}
			ORDER BY createdate DESC;
	
	</select>
	
	<!-- 예약기업 조회 -->
	<select id="selectBookingCompanyList" 
		resultType="java.util.Map">
			
		SELECT 
			booking_company.booking_company_id companyId
			, booking_company.booking_company_name companyName
			, booking_company.booking_company_ceo companyCeo
			, booking_company.booking_company_phone companyPhone
			, total_id.total_id_active active
			, total_id.createdate createdate
		FROM 
			booking_company
			INNER JOIN total_id
			ON booking_company.booking_company_id = total_id.id
		WHERE
			total_id.total_id_deactive_memo != '신규' OR total_id.total_id_deactive_memo IS NULL
		ORDER BY total_id.createdate
	</select>
	<!-- 예약기업 상세(수정 필요) -->
	<select id="selectBookingCompanyOne" 
		resultType="java.util.Map"
		parameterType="String">
		
		SELECT
			booking_company.booking_company_id companyId
			, booking_company.booking_company_name companyName
			, booking_company.booking_company_ceo companyCeo
			, booking_company.booking_company_address companyAddress
			, booking_company.booking_company_phone companyPhone
			, booking_company.booking_company_email companyEmail
			, booking_company.booking_company_bank companyBank
			, booking_company.booking_company_account companyAccount
			, booking_company.booking_company_number companyNumber
			, booking_company.booking_company_info_agree companyAgree
			, booking_company_type.booking_company_type_content companyTypeContent
			, booking_company_detail.booking_company_opentime companyOpenTime
			, booking_company_detail.booking_company_closetime companyCloseTime
			, booking_company_detail.booking_company_addition_service companyAddtionService
			, total_id.total_id_active active
			, total_id.createdate createdate
			, (SELECT
					SUM(booking_total_price)
				FROM
					booking
					INNER JOIN booking_company
					ON booking.booking_company_id = booking_company.booking_company_id
				WHERE 
					booking_company.booking_company_name = #{companyName}
					AND booking.booking_state = '방문완료') totalPrice
		FROM
			booking_company
			INNER JOIN booking_company_detail
			ON booking_company.booking_company_id = booking_company_detail.booking_company_id
			INNER JOIN total_id
			ON total_id.id = booking_company.booking_company_id
			INNER JOIN booking_company_type
			ON booking_company_detail.booking_company_type_no = booking_company_type.booking_company_type_no
		WHERE 
			booking_company.booking_company_name = #{companyName};
	
	</select>
	<!-- 예약기업 수(페이징용)(수정 필요) -->
	<select id="cntBookingCompanyList"
		resultType="int"
		parameterType="java.lang.String">
		
		SELECT COUNT(*) count
		FROM employee
		<where>
			<if test="searchWord != null || searchWord !=''">
				emp_name like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
	</select>
	
	<!-- 쇼핑기업 조회 -->
	<select id="selectShoppingCompanyList" 
		resultType="java.util.Map">
		
		SELECT 
			shopping_company.company_id companyId
			, shopping_company.company_name companyName
			, shopping_company.company_ceo companyCeo
			, shopping_company.company_phone companyPhone
			, total_id.total_id_active active
			, total_id.createdate createdate
		FROM 
			shopping_company
			INNER JOIN total_id 
			ON shopping_company.company_id = total_id.id
		WHERE
			total_id.total_id_deactive_memo != '신규' OR total_id.total_id_deactive_memo IS NULL
		ORDER BY total_id.createdate
	</select>
	<!-- 쇼핑기업 상세(수정 필요) -->
	<select id="selectShoppingCompanyOne" 
		resultType="java.util.Map"
		parameterType="String">
		
		SELECT
			shopping_company.company_id companyId
			, shopping_company.company_name companyName
			, shopping_company.company_ceo companyCeo
			, shopping_company.company_address companyAddress
			, shopping_company.company_phone companyPhone
			, shopping_company.company_email companyEmail
			, shopping_company.company_bank companyBank
			, shopping_company.company_account companyAccount
			, shopping_company.company_registration_number companyNumber
			, shopping_company.company_email_marketing companyAgree
			, shopping_type.type_content companyTypeContent
			, total_id.total_id_active active
			, total_id.createdate createdate
			, (SELECT
					SUM(shopping_order_sheet.order_sheet_price)			
				FROM
					shopping_order_sheet
					INNER JOIN shopping_company
					ON shopping_order_sheet.company_id = shopping_company.company_id
				WHERE
					shopping_company.company_name = #{companyName}
					AND shopping_order_sheet.order_sheet_state = '구매확정'
				) totalPrice
		FROM
			shopping_company
			INNER JOIN total_id
			ON shopping_company.company_id = total_id.id
			INNER JOIN shopping_type
			ON shopping_company.type_no = shopping_type.type_no
		WHERE shopping_company.company_name = #{companyName}
	</select>
	<!-- 쇼핑기업 수(페이징용)(수정 필요) -->
	<select id="cntShoppingCompanyList"
		resultType="int"
		parameterType="java.lang.String">
		
		SELECT COUNT(*) count
		FROM employee
		<where>
			<if test="searchWord != null || searchWord !=''">
				emp_name like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
	</select>
</mapper>