<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.platform.mapper.CustomerMapper">

	<!-- 회원 조회 -->
	<select id="selectCustomerList" 
		resultType="java.util.Map">
		
		SELECT c.customer_id customerId, c.customer_name customerName, c.customer_rank customerRank
			, ti.total_id_active totalIdActive, ti.createdate createdate
		FROM customer c
		INNER JOIN total_id ti ON c.customer_id = ti.id
		
	</select>
	
	<select id="updateCustomerActive"
		resultType="java.util.Map"
		parameterType="java.lang.String">
		
		UPDATE total_id SET total_id_active = #{active} WHERE id = #{customerId};
		
	</select>

</mapper>