<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.platform.mapper.NoticeMapper">
	
	
	<!-- 공지사항 수정 -->
	<update id="updateNotice" parameterType="goodee.gdj58.platform.vo.Notice" >
		UPDATE notice
		SET
		notice_no = #{noticeNo}
			, service_name = #{serviceName}
			, notice_title = #{noticeTitle} 
			, notice_memo = #{noticeMemo} 
			, updatedate = CURDATE()
		WHERE notice_no = #{noticeNo} 
	</update>
	
	<!-- 공지사항 삭제 -->
	<delete id="deleteNotice" parameterType="int">
		DELETE FROM notice
		WHERE notice_no = #{noticeNo}
	</delete>
	
	<!-- 공지사항 상세보기 -->
	<select id="selectNoticeOne" resultType="goodee.gdj58.platform.vo.Notice">
		SELECT
			notice_no noticeNo
			, service_name serviceName
			, notice_title noticeTitle
			, notice_memo noticeMemo
			, createdate
			, updatedate
		FROM notice
		WHERE notice_no = #{noticeNo}
	</select>
	
	<!-- 공지사항 등록 -->
	<insert id="insertNotice" parameterType="goodee.gdj58.platform.vo.Notice">
		INSERT INTO notice (
			service_name 
			, notice_title 
			, notice_memo 
			, createdate
			, updatedate
		) VALUES (
			#{serviceName}
			,#{noticeTitle}
			,#{noticeMemo}
			, CURDATE()
			, CURDATE()
		)
	</insert>
	
	<!-- 공지사항 리스트 -->
	<select id="selectShoppingNoticeList"
		resultType="goodee.gdj58.platform.vo.Notice"
		parameterType="java.util.Map">
		
		SELECT
			notice_no noticeNo
			, service_name serviceName
			, notice_title noticeTitle
			, notice_memo noticeMemo
			, createdate
			, updatedate
		FROM notice
		WHERE service_name = #{serviceName}
		ORDER BY createdate DESC
	</select>
	
</mapper>