<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.platform.mapper.ReportMapper">
	<select id="selectReportList"
	parameterType="String" 
	resultType="java.util.Map">
	 SELECT
	 	report.report_no reportNo
	 	, report.report_category reportCategory
	 	, report.report_content reportContent
	 	, report.report_memo reportMemo
	 	, report.createdate
	 	<if test="reportCategory eq '쇼핑'">
	 		, shopping_company.company_name companyName
	 		, shopping_order_sheet.customer_id customerId
	 	</if>
	 	<if test="reportCategory eq '예약'">
	 		, booking_company.booking_company_name companyName
	 		, booking.customer_id customerId
	 	</if>
	 FROM 
	 	report
	 	<if test="reportCategory eq '쇼핑'">
	 		INNER JOIN shopping_goods_order
	 		ON shopping_goods_order.goods_order_no = report.report_content
	 		INNER JOIN shopping_order_sheet
	 		ON shopping_order_sheet.order_sheet_no = shopping_goods_order.order_sheet_no
	 		INNER JOIN shopping_company
	 		ON shopping_company.company_id = shopping_order_sheet.company_id
	 	</if> 	
	 	<if test="reportCategory eq '예약'">
	 		INNER JOIN booking
	 		ON booking.booking_no = report.report_content
	 		INNER JOIN booking_company
	 		ON booking_company.booking_company_id = booking.booking_company_id
	 	</if>
	 WHERE
	 	report.report_category = #{reportCategory}
	</select>
	
	<!-- 특정 기업의 신고 리스트 -->
	<select id="selectReportListForCompanyOne"
		resultType="java.util.Map"
		parameterType="java.lang.String">
		SELECT
	 	report.report_no reportNo
	 	, report.report_category reportCategory
	 	, report.report_content reportContent
	 	, report.report_memo reportMemo
	 	, report.createdate
	 	<if test="reportCategory eq '쇼핑'">
	 		, shopping_company.company_name companyName
	 		, shopping_order_sheet.customer_id customerId
	 	</if>
	 	<if test="reportCategory eq '예약'">
	 		, booking_company.booking_company_name companyName
	 		, booking.customer_id customerId
	 	</if>
	 FROM 
	 	report
	 	<if test="reportCategory eq '쇼핑'">
	 		INNER JOIN shopping_goods_order
	 		ON shopping_goods_order.goods_order_no = report.report_content
	 		INNER JOIN shopping_order_sheet
	 		ON shopping_order_sheet.order_sheet_no = shopping_goods_order.order_sheet_no
	 		INNER JOIN shopping_company
	 		ON shopping_company.company_id = shopping_order_sheet.company_id
	 	</if> 	
	 	<if test="reportCategory eq '예약'">
	 		INNER JOIN booking
	 		ON booking.booking_no = report.report_content
	 		INNER JOIN booking_company
	 		ON booking_company.booking_company_id = booking.booking_company_id
	 	</if>
	 WHERE
	 	report.report_category = #{reportCategory}
	 	<if test="reportCategory eq '쇼핑'">
	 		AND shopping_company.company_id = #{companyId}
	 	</if>
	 	<if test="reportCategory eq '예약'">
	 		AND booking_company.booking_company_id = #{companyId}
	 	</if>
	</select>
</mapper>